[Unit]
Description=Strfry Nostr Relay
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/nostr-stack-deploy/strfry
ExecStart=/home/deploy/nostr-stack-deploy/strfry/strfry relay --config /home/deploy/.strfry/strfry.conf
Restart=on-failure
RestartSec=5
LimitNOFILE=1000000
Environment=STRFRY_CONFIG=/home/deploy/.strfry/strfry.conf
Environment=NIP05_JSON_URLS=https://bitcoindistrict.org/.well-known/nostr.json
Environment=NIP05_CACHE_TTL=300
Environment=ALLOW_IMPORT=false

[Install]
WantedBy=multi-user.target