[Unit]
Description=Strfry Nostr Relay
After=network.target

[Service]
Type=simple
User=deploy
WorkingDirectory=/home/deploy/nostr-stack-deploy/strfry
ExecStart=/home/deploy/nostr-stack-deploy/strfry/strfry relay --config /home/deploy/.strfry/strfry.conf
Restart=on-failure
RestartSec=5
LimitNOFILE=1000000
EnvironmentFile=-/etc/default/strfry

[Install]
WantedBy=multi-user.target